.clearfix:before,
.clearfix:after {
  content:".";
  display:block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
